/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- rgb(13, 110, 0)
- rgb(109, 0, 251)
- rgb(219, 255, 57)
- rgb(116, 201, 241)
- rgb(251, 64, 64)

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/

html {
  border: white solid 10px;
}

body {
  background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  width: 1000px;
  font-family: Cambria, serif;
}

h1 {
  color: rgb(109, 0, 251);
  text-decoration: underline;
  text-align: center;
  background-image: linear-gradient(rgb(116, 201, 241), lightcoral);
  padding: 1rem;
  border-radius: 0.5rem;
  text-shadow: 2px 2px 5px yellow;
}

#jordans-1 {
  box-shadow: 3px 1px blue;
}

#row1-section2 {
  background-color: rgb(116, 201, 241);
  width: 560px;
  margin: 20px 0;
  border: solid 3px rgb(243, 183, 106);
  border-radius: 5px;
}

#row1-section2 {
  padding: 0 20px;
  color: white;
  font-size: 1.5rem;
}

#jordans-2 {
  float: right;
  box-shadow: rgb(251, 64, 64) -3px 1px;
}

#row2-section2 {
  float: right;
}

#row2-section2 {
  background-color: lightcoral;
  width: 560px;
  margin: 20px 0;
  border: solid 3px rgb(13, 110, 0);
  border-radius: 5px;
}

#row2-section2 {
  padding: 0 20px;
  color: white;
  font-size: 1.5rem;
}
